asgiref==3.5.2
Django==4.0.5
django-environ==0.8.1
django-extensions==3.1.5
graphviz==0.20
mysql-connector-python==8.0.29
Pillow==9.1.1
protobuf==4.21.1
pydot==1.4.2
pyparsing==3.0.9
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
yapf==0.32.0
